<!DOCTYPE html>
<html>
<head>
    <title>Gemini Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
   <header>
        <div class="container">
            <nav>
                <a href="#" class="logo">AI<span>Insights</span></a>
                <button class="mobile-menu-btn" id="mobileMenuBtn">
                    <i class="fas fa-bars"></i>
                </button>
                <ul class="nav-links" id="navLinks">
                    <li><a href="/">Home</a></li>
                    <li><a href="/">Our AI Tools</a></li>
                    <li><a href="/">AI Story</a></li>
                    <li><a href="/">Types of AI</a></li>
                    <li><a href="/">Use Cases</a></li>
                    <li><a href="/">Benefits</a></li>
                    <li><a href="/">Risks</a></li>
                    <li><a href="/">Future</a></li>
                </ul>
            </nav>
        </div>
    </header>

    
<div class="chat-wrapper">
    <h2 class="chat-title"> Gemini AI Chat</h2>

    <div class="chat-box">

          {% if user_input %}
    <div class="message user">
        {{ user_input }}
    </div>
    {% endif %}
        {% if answer %}
        <div class="message ai">
            {{ answer }}
        </div>
        {% endif %}
    </div>

    <form method="POST" class="input-area">
        <textarea name="user_input" placeholder="Type your message..."></textarea>
        <button type="submit">Send</button>
    </form>

</div>

</body>
</html>
